<launch>
    <node name="camera" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
    <param name="framerate" value="60"/>
  </node>

  <node name="proc" ns="camera" pkg="image_proc" type="image_proc" args="">
  </node>

  <!--
  <node name="image_proc_output" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/camera/image_rect"/>
    <param name="autosize" value="true" />
  </node>
  -->

  <node name="shape_detector" pkg="shape_detector" type="shape_detector" >
  </node>
</launch>

